html
{
    scroll-behavior: smooth;

}
*
{
    text-decoration: none;
    list-style-type: none;
}
body
{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

/*********************HEADER ***********************/
#toggle
{
    display: none;
}


header
{
    background-color: #fb8850;
    width: 100%;
    height: 450px;
    transition: all .7s ease-in-out; 
    
   
}
.header-principal .logo
{
    width: 150px;
    transition: all .7s ease-in-out; 
     
    
}
.header-principal
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all .7s ease-in-out; 
    
}
.bloc-logo-et-nav
{
    display: flex;
    justify-content: space-around ;
    align-items: center;
    margin-top: 10px;
    transition: all .7s ease-in-out;
    
}
nav
{
    display: block;
    justify-content: space-between;
    transition: all .7s ease-in-out; 
    
}
nav  a
{
    color: #f7fafb;
    font-family: "Roboto",sans-serif;
    margin-left: 80px;
    font-size: 14px;
    margin-bottom: 10px;
    transition: all .7s ease-in-out;   
}
.button-1 a
{
    color: #f7fafb;
    text-align: center;
}
    .button-1
{
    background-color: #042334;
    box-sizing: border-box;
    text-align: center;
    border-radius: 8px;
    padding: 15px 30px;
    cursor: pointer;
    appearance: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    border-style:none;
    transition: .3s ease-in-out;
        
}
.button-1:hover
{
    background-color: #fb8850;
    border: 3px solid #f7fafb;
}
.button-1 a:hover
{
    color: #363636;
}
.button-2 a
{
    color: #f7fafb;
    text-align: center;
}
.button-2 
{
        
    background-color: #fb8850;
    padding: 15px 30px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 8px;
    line-height: normal;
    border: 3px solid #f7fafb;
    transition: .5s ease-in-out;


}
.button-2:hover
{
    background-color: #002336;
}
.bloc-contact-us h1
{
    font-family: "Monserat",sans-serif;
    color: #FFF;
    font-size: 4em;
    margin-bottom: 0px;
        
}
    .bloc-contact-us
{
    text-align: center;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    top: 59%;
    left: 25%;
    right: 25%;
    margin-top: 120px;
    font-family: "Roboto",sans-serif;
    color: #2d342D;
        
        
}
/*****************MAIN**************/
h3
{
    color: #49b8ca;
    font-family: "Proxima-nova",sans-serif;
    font-size: 2em;
    font-weight: 550;
}
main
{
    display: flex; 
    background-color: #FFFFFF;
    flex-wrap: wrap;
   
   
   
    

}
span
{
    color: #fb8850;
}
.bloc-main-left
{
    
    width: 570px;
    margin-left: 200px;
    margin-top: 100px;
    position: relative;
    
      
}
.element-main-right
{
    width: 570px;
    margin-left: 100px;
    margin-top:100px;
    /*margin-top: 30px;
    padding-top: 60px;*/
}
main  p
{
    color: #4a4a4a;
    font-family: "Roboto",sans-serif;
    font-size: 1.2em;
    font-weight:500;
}
input
{
    width: 570px;
    height: 40px;
    border-radius: 5px;
    margin-top: 30px;
    color:  rgb(127, 140, 151);
    border-top-color: rgb(192, 198, 204);
    border-bottom-color: rgb(192, 198, 204);
    border-left-color: rgb(192, 198, 204);
    border-right-color: rgb(192, 198, 204);
    font-weight: 300;
    font-size: 1em;
}
.input-message
{
    padding-bottom: 100px;
}
.button-submit a
{
    color:#f7fafb;
}
.button-submit
{
    background-color: #fb8850;
    padding: 20px 60px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    line-height: normal;
    border: 3px solid #fb8850;
    margin-top: 30px;
    position: absolute;
    right: -3px;
    cursor: pointer;
    transition: .7s ease-in-out;
    
}
.button-submit:hover {
    background-color: #002336;
    
    
  }

.bloc-main-right
{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
main h4
{
    font-family: "Proxima",sans-serif;
    font-size: 1.9em;
    font-weight: 100;
    color: #353535;
}
.icons-right
{
    margin: 0px 30px;
}

/*****************FOOTER **************/
footer .container-footer
{
    display: flex;
    background-color: #424242;
    justify-content: space-evenly;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
   
}
footer .container-footer h5
{
    color: #f7fafb;
    font-size: 14px;
    font-weight: 500;
    font-family: "Proxima-nova",sans-serif;
}
footer .container-footer ul 
{
    
    margin: 0;
    padding: 0;
}
 footer .container-footer li a
{
    color:#A0A0A0;
    font-family:"Roboto",sans-serif;
    font-weight: 500;
    margin-top: 100px;
  
}
footer .container-footer h5
{
    margin-bottom: 2px;
}
.h5-footer
{
    margin-bottom: 0px;
}
.icons-footer
{
    color: #fb8850;
    font-size: 23px;
    margin-top: 0;
}
.button-footer a
{
    color: #fbf9fb;
}
.button-footer
{
    background-color: #002336;
    padding: 10px 50px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    line-height: normal;
    border: 3px solid #002336;
    margin-top: 20px;
    cursor: pointer;  
    transition: .7s ease-in-out;
}
.button-footer:hover
{
    background-color: #fb8850;

}
footer .container-footer :hover
{
    color: #fb8850;
}
footer .copyright
{
    background-color: #363636;
    height: 50px;
    padding-top: 1px;
    font-family: "Roboto",sans-serif;
    color: #A0A0A0; 
    padding-bottom: 1px;  
}

footer .copyright p
{
    margin-left: 50px;
}


/******************RESPONSIVE*****************************/
@media (max-width: 800px){


   /* .header-principal .logo
    {
        width:100px ;
        margin-left: -100px;
        margin-top: -10px;
        
        
    }*/
    .header-principal 
    {
        
        transition: all .7s ease-in-out; 
        
        
    }
    .button-header
    {
        margin-top: 300px;
        position: absolute;
        transition: all .7s ease-in-out; 
    }
    .bloc-contact-us h1
    {
        
        font-size: 2em;
        margin-top : 100px;
    }
    .bloc-contact-us
    {
        font-size: 14px;
    }
    /*nav a
    {
        
        background-color:#000 ;
        font-size: 16px;
        border: 1px solid #fb8850;
    }*/

    header
    {
        background-color: #fb8850;
        width: 100%;
        height: 450px;

    }
    .header-principal .logo
    {
        
        width:100px ;
        /*margin-left: -100px;
        margin-top: -10px;*/ 
    }
    .header-principal
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
        transition: all .7s ease-in-out;      
    }
    .bloc-logo-et-nav
    {
        display: block;
        justify-content: start ;
        margin-top: 10px;
        position: fixed;
        background-color: #fb8850;
        z-index: 6;
        border:3px solid wheat
       
    }
    nav
    {
        display: inline-block;
        justify-content: flex-end;
    }
    nav  a
    {
        color: #000;
        font-family: "Roboto",sans-serif;
        margin-left: 80px;
        font-size: 16px;
        transition: all .7s ease-in-out;   
    }
    /*.bloc-contact-us h1
    {
    font-family: "Monserat",sans-serif;
    color: #FFF;
    font-size: 4em;
    
        
    }

        /*******HABURGER***********/
    label[for=toggle]
    {
        cursor: pointer;
        display: flex;
        flex-direction: column;
    }
    
    #header
    {
        border: 5px solid #fff;
        width: 42px;
        height: 35px;
        position: absolute;
        margin-right: 10px;
        z-index: 4;
        position: fixed;  
    }
    
    #toggle:checked ~ nav {

        margin-top: -700px;
        opacity: .3;
        display: block;
    }
    label[for=toggle] span
    {
        cursor: pointer;
        width:40px;
        height: 6px;
        border-radius: 5px;
        margin-top: 5px;
        background-color: #000;
    }
    /**********MAIN *****************/

    h3
    {
        color: #49b8ca;
        font-family: "Proxima-nova",sans-serif;
        font-size: 1.5em;
        font-weight: 550;
    }
    main
    {
        display: flex; 
        background-color: #FFFFFF;
        flex-wrap: wrap;
    }
    span
    {
        color: #fb8850;
    }
    .bloc-main-left
    {
        
        width: 570px;
        margin-left: 10px;
        margin-top: 50px;
        position: relative;
        
        
    }
    .element-main-right
    {
        width: 570px;
        margin-left: 10px;
        margin-top:100px;
        
    }
    main  p
    {
        color: #4a4a4a;
        font-family: "Roboto",sans-serif;
        font-size: 1em;
        font-weight:400;
    }
    input
    {
        width: 90%;
        height: 40px;
        border-radius: 5px;
        margin-top: 30px;
        color:  rgb(127, 140, 151);
        border-top-color: rgb(192, 198, 204);
        border-bottom-color: rgb(192, 198, 204);
        border-left-color: rgb(192, 198, 204);
        border-right-color: rgb(192, 198, 204);
        font-weight: 300;
        font-size: 1em;
    }
    .input-message
    {
        padding-bottom: 100px;
    }
    .button-submit a
    {
        color:#f7fafb;
    }
    .button-submit
    {
        background-color: #fb8850;
        padding: 20px 120px;
        width: 90%;
        font-size: 14px;
        font-weight: 700;
        border-radius: 5px;
        line-height: normal;
        border: 3px solid #fb8850;
        margin-top: 30px;
        position: absolute;
        right: 3px;
        left: 10px;
        cursor: pointer;
        transition: .7s ease-in-out;
        
    }
    .button-submit:hover {
        background-color: #002336;
          
    }

    .bloc-main-right
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }
    main h4
    {
        font-family: "Proxima",sans-serif;
        font-size: 1.5em;
        font-weight: 100;
        color: #353535;
    }
    .icons-right
    {
        margin: 0px 5px;
    }

    /***********************************FOOTER***************************************/
    footer .container-footer
    {
        display: flex;
        background-color: #424242;
        margin-top: 50px;
        padding-top: 3%;
        padding-bottom: 20px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    footer .container-footer h5
    {
        color: #f7fafb;
        font-size: 14px;
        font-weight: 500;
        font-family: "Proxima-nova",sans-serif;
    }
    footer .container-footer ul 
    {
        margin: 0;
        padding: 0;
    }
    footer .container-footer li a
    {
        color:#A0A0A0;
        font-family:"Roboto",sans-serif;
        font-weight: 500;
        margin-top: 100px;
    
    }
    footer .container-footer h5
    {
        margin-bottom: 2px;
    }
    .h5-footer
    {
        margin-bottom: 0px;
    }
    .icons-footer
    {
        color: #fb8850;
        font-size: 23px;
        margin-top: 0;
    }
    .button-footer a
    {
        color: #fbf9fb;
    }
    .button-footer
    {
        background-color: #002336;
        padding: 10px 50px;
        font-size: 14px;
        font-weight: 700;
        border-radius: 5px;
        line-height: normal;
        border: 3px solid #002336;
        margin-top: 20px;
        cursor: pointer;  
        transition: .7s ease-in-out;
    }
    .button-footer:hover
    {
        background-color: #fb8850;

    }
    footer .copyright
    {
        background-color: #363636;
        height: 50px;
        padding-top: 1px;
        font-family: "Roboto",sans-serif;
        color: #A0A0A0; 
        padding-bottom: 1px;  
    }
    footer .container-footer .icons-footer:hover
    {
        transform: scale(1.3);
    }
    footer .copyright p
    {
        text-align: center;

    }
    footer a:hover
    {
        color: #fb8850;
    }
    

   }
   